@model DoAnWebBanDongHo.Models.RegisterViewModel
@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Mainlayout.cshtml";
}

<h2>Đăng Ký Tài Khoản</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-md-7 account-top">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, "Tên tài khoản", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DisplayName, "Tên hiển thị", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, "Mật khẩu", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Password, new { htmlAttributes = new { type = "Password", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, "Xác nhận mật khẩu", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { type = "Password", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
               
                <input type="submit" value="Đăng ký" class="btn btn-default" />
                @ViewBag.Fail
            </div>
            <div class="previ   ous">

                <li><a href="/Home/Index">Quay lại trang chính</a></li>
            </div>
        </div>
    </div>
}

