@model DoAnWebBanDongHo.Models.DONHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>CHI TIẾT ĐƠN HÀNG</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACHHANG.TENKH)
        </dd>

        <dt>
            Trạng thái
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRANGTHAI)
        </dd>

        <dt>
            Địa chỉ giao
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHIGIAO)
        </dd>

        <dt>
            Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            Ngày đặt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYDAT)
        </dd>

        <dt>
            Ngày giao
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYGIAO)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOTA)
        </dd>

        <dt>
            Tổng tiền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TONGTIEN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MADH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
